.index_body {
    background: url("../img/index_bg.jpg") no-repeat;
    background-position-y: 50px;
    background-size: cover;
}

.navbar-inverse {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.page_bottom_anchor {
    position: absolute;
    bottom: 20px;
    left: 48%;
}







